{# Builds vlan configruation based on local_vlans, tenant_vlans, edge_vlans and shared_vlans #}

{% if local_vlans is defined %}
{% for vlan in local_vlans %}
vlan {{ vlan.number }}
   name {{ vlan.name }}
{% endfor %}
{% endif %}
{% if tenant_vlans is defined %}
{% for vlan in tenant_vlans %}
vlan {{ vlan.number }}
   name {{ vlan.tenant }}-{{ vlan.name }}
{% endfor %}
{% endif %}
{% if edge_vlans is defined %}
{% for vlan in edge_vlans %}
vlan {{ vlan.number }}
   name {{ vlan.tenant }}-{{ vlan.name }}
{% endfor %}
{% endif %}
{% if shared_vlans is defined %}
{% for vlan in shared_vlans %}
vlan {{ vlan.number }}
   name {{ vlan.tenant }}-{{ vlan.name }}
{% endfor %}
{% endif %}
