---
phy_interfaces:
  - name: Ethernet1
    description: leaf1-eth2
    mode: routed
    ip_addr: 10.1.0.2/30
  - name: Ethernet2
    description: leaf2-eth2
    mode: routed
    ip_addr: 10.1.0.6/30
  - name: Ethernet3
    description: leaf3-eth2
    mode: routed
    ip_addr: 10.1.0.10/30
  - name: Ethernet4
    description: sleaf1-eth2
    mode: routed
    ip_addr: 10.1.0.14/30
  - name: Ethernet5
    description: eleaf-eth2
    mode: routed
    ip_addr: 10.1.0.18/30

loopbacks:
  - name: Loopback0
    description: router-id
    ip_addr: 20.20.20.20/32

bgp:
  local_as: 65000
  router_id: 20.20.20.20
  neighbors:
    - ip_addr: 10.1.0.1
      as: 65001
    - ip_addr: 10.1.0.5
      as: 65002
    - ip_addr: 10.1.0.9
      as: 65003
    - ip_addr: 10.1.0.13
      as: 65004
    - ip_addr: 10.1.0.17
      as: 65005
  networks:
    - subnet: 20.20.20.20/32
